<form oh-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <input type="text" oh-input formControlName="username" placeholder="Username" />
        <input type="password" oh-input formControlName="password" placeholder="Password" />
    <div oh-row class="login-form-margin">
        <div oh-col >
            <label>
              <input type="checkbox" formControlName="remember" />
              <span>Remember me</span>
            </label>
          </div>
      <div oh-col>
        <a class="login-form-forgot">Forgot password</a>
      </div>
    </div>
    <button oh-button class="login-form-button login-form-margin">
      Log in
    </button>
    Or
    <a>register now!</a>
</form>
  