<div class="wrapper-cart">
    <h1>Detail Product {{ id }}</h1>

    <div style="padding: 0 3rem; color: #fff;">
        <img
            oh-image
            width="300px"
            height="300px"
            ohSrc="{{productItem.image}}"
            alt=""
            images
        />
        <h3>Name product: {{ productItem.name }}</h3>
        <h4>Price product: {{ productItem.price }}</h4>
        <oh-rate
            [formControl]="ratingControl">
        </oh-rate>
    </div>

</div>

