<div class="wrapper-cart">
          <h1>Shopping Cart</h1>


          <oh-switch (click)="handleChangeVisible()"></oh-switch>
          <div *ngIf="isVisible">
            <app-product-item [products]="products" (dataEvent)="handleDelete($event)"></app-product-item>
          </div>

          <!-- <button (click)="handleChangeVisible()">
                Bật/Tắt
          </button> -->

        
</div>

<his-warning [hisWarning]="true" [hisTitle]="title" [hisTime]=20 [hisCount]=20></his-warning>


